<launch>

  <node name="arbotix" pkg="corobot_arm" type="driver.py" output="screen">
      <rosparam file="$(find corobot_arm)/config/arm_reactor.yaml" command="load" />
  </node>

  <node name="gripper_controller" pkg="corobot_arm" type="one_side_gripper_controller.py">
      <param name="invert" value="true"/>
      <param name="pad_width" value="0.0254"/>
  </node>

  <node name="corobot_arm" pkg="corobot_arm" type="corobot_arm">
      <rosparam file="$(find corobot_arm)/config/arm_reactor.yaml" command="load" />
  </node>

</launch>
